<html>
    <head>
        <style>
            .Input{
                margin-top:1000px;
            }
        </style>
    </head>
    <body>
        <div>
            {% autoescape off %}
            {{ plt_div }}
            {% endautoescape %}
        </div>

        <div class="Input">
            <form method="POST" class="cont">
                {% csrf_token %}
                <label for="state1">Enter the state :- </label>
                <input type="text" id="title1" name="state1" placeholder="State" />
                <label for="cars">Choose a Category:</label>
                <select name="category" id="category">
                    <option value="Rape">Rape</option>
                    <option value="Kidnapping and Abduction">Kidnapping and Abduction</option>
                    <option value="Dowry Deaths">Dowry Deaths</option>
                    <option value="Assault on women with intent to outrage her modesty">Assault on women with intent to outrage her modesty</option>
                    <option value="Insult to modesty of Women">Insult to modesty of Women</option>
                    <option value="Cruelty by Husband or his Relatives">Cruelty by Husband or his Relatives</option>
                    <option value="Importation of Girls">Importation of Girls</option>
                </select>
                <input type="submit" />
            </form>
        </div>


    </body>
</html>